.selectSubjectsBoxToDoctor {
  width: 24rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 14px;
  padding: 20px 25px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 10%;
  // z-index: 99999;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .searchForSubject {
    width: 90%;
    margin: auto;

    input {
      width: 100%;
      padding: 8px 12px;
      border: none;
      outline: none;
      /* background-color: rgb(253 253 253 / 52%); */
      border-radius: 10px;
      border: 1px solid #dad3d3;
    }
  }

  .headerOfCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h4 {
      font-size: 24px;
      font-weight: 600;
    }

    i {
      font-size: 25px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78%;

    button.add {
      border: 1px solid black;
      padding: 17px 13px;
      border: 1px solid #c9c8c8;
      border-radius: 10px 10px 10px 10px;
      background-color: #031225;
      color: #fff;
      font-size: 17px;
      font-weight: 900;

    }
  }

  .select {
    // margin: auto;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    gap: 10px;

    select {
      text-align: center;
      padding: 9px 0;
      margin: auto;

      &:first-child {}

      &:last-child {}
    }

    h6 {
      text-align: left;
    }

    .courseDetails {
      display: flex;
      // width: 10%;
      justify-content: space-between;

    }


    button {
      border: 1px solid black;
      padding: 8px 12px;
      border: 1px solid #c1c1c14d;
      border-radius: 10px 10px 10px 10px;
      // margin-top: 0 !important;

    }
  }


}