.professorHomePage {
  padding: 10px;
  height: 100vh;
  background-color: #fcf8f8bd;
}

.topSide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}

.professorHeaderPage {
  background-color: #1F1F1F;
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin: auto;
  margin-bottom: 1rem;
  padding: 6px 28px ;
  border-radius: 18px;
  color: #fff;

  .logo {
    display: flex;
    align-items: center;
    width: 100%;
    /* gap: 2rem; */
    justify-content: space-between;

    p {
      padding: 0;
      margin: 0;
    }

    img{
      width: 67px;
      object-fit: cover;
    }
  }

  .logOutMenue {
    // position: absolute;
    /* width: 59px; */
    /* height: 40px; */
    // z-index: 999999;
    background-color: #6F6F6F;
    color: white;
    border-radius: 18px;
    padding: 8px 26px;
    right: 25px;
    font-weight: 500;
    cursor: pointer;

    button {}

  }
}

.homePageImage {
  img {
    width: 100%;
    height: 100%;
  }

}

.theGeneration {
  background-color: #fff;
  width: 25rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px 0;
  position: relative;


}

.deletQr {
  color: #fff;
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #99b8f6;
  cursor: pointer;
  border-radius: 6px;

  i {
    padding: 8px;
    // border-radius: 20px;
    background-color: #99b8f6;
    cursor: pointer;
  }

}

.doctorSubjects {
  .slick-prev {
    left: -23px !important;
    z-index: 9;
  }

}

.generateQrCode {
  .slick-prev {
    left: 19px !important;
    z-index: 9;
  }

}

.qrCodeCard {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    width: 20rem !important;
    height: 20rem !important;
    ;
  }



}