.studentCourses {
  position: relative;
  background-color: #1F1F1F;

  .studentCoursesHeader {
    padding: 20px 36px 20px 36px;

    input {
      background-color: #E3EDF9;
      border: none;
      outline: none;
      padding: 9px 14px;
      width: 23rem;
      border-radius: 16px;
    }

    button {
      border: none;
      outline: none;
      background-color: #1F1F1F;
      padding: 9px 18px;
      color: #fff;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 300;
      margin-left: 10px;
    }
  }

  .optionBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E3EDF9;
    width: 27rem;
    font-size: 33px;
    font-weight: bold;
    padding: 22px;
    height: 15rem;
    border-radius: 27px;
    margin-top: 17px;

    .innerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .icon {
    background-color: #1F1F1F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
  }

  .line {
    width: 95%;
    margin: auto auto 0 auto;
    height: 8px;
    background-color: #1F1F1F;
    border-radius: 19px;
  }

  table {
    margin-top: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 10px;
    width: 97%;
    margin: auto;
    background-color: #fff;

    thead tr {
      background-color: #1F1F1F;
      color: #fff;

      th {
        padding: 16px 40px 16px 48px;
        font-size: 20px;
        /* margin-left: 1rem; */
        font-weight: 900;
        // overflow: auto;


        &:first-child {
          border-radius: 10px 0 0 0;
          min-width: 60vw;
          min-width: 24rem;
          // padding-left: 39px;
        }

        &:nth-child(5) {
          // min-width: 60vw;
          min-width: 16rem;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
          padding: 2px 2px 2px 64px;
          // padding-right: 6rem;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 15px 40px 15px 48px;
          font-size: 20px;
          font-weight: 400;
          // margin-bottom: 1rem;

          &:last-child {}
        }

        border-bottom: 1px solid rgba(166, 158, 158, 0.469);
      }
    }
  }



  .studentDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonsAddandDelete {
      gap: 12px;

      button {
        /* font-size: 12px; */
        border: 1px solid #E3EDF9;
        font-size: 16px;
        color: #4d545a;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 9px 20px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .addCourseToStudent {

        background-color: #009688;




      }

      .deleteCourseFromStudent {


        background-color: #e91e63;
      }
    }

  }

  .allCourses {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 42rem;


    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #ded7d7;
      background: #ded7d788;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .singelCourse {
      font-size: 16px;
      color: #4d545a;
      border-right: none;
      height: 44px;

      p {
        // background-color: red;
        // background-color: red; */
        height: 44px;
        width: max-content;
        border: none;
        border: 1px solid #E3EDF9;
        padding: 6px 22px;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      /* font-weight: 500;*/
      &:first-child {
        border-radius: 13px 0 0 13px;
      }

      &:last-child {}

    }


  }
}

.lds-dual-ring {
  /* change color here */
  color: #1c4c5b
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}